RewriteEngine On
RewriteBase /

RewriteRule 	^advanced/*$ 									/?advanced [L]
RewriteRule 	^link/*$ 										/?link [L]
RewriteRule 	^upload/*$ 										upload.php [L]


RewriteRule 	^delete/ok/*$									delete.php?ok=1 [L]
RewriteRule 	^delete/group/ok/*$								delete_group.php?ok=1 [L]

RewriteRule 	^password/reset/ok/*$							password_reset.php?ok=1 [L]
RewriteRule 	^password/reset/error/*$						password_reset.php?ok=1 [L]
RewriteRule 	^password/reset/*$								password_reset.php [L]

RewriteRule 	^password/changed/*$							password_changed.php [L]
RewriteRule 	^password/change/ok/*$							password_change.php?ok=1 [L]
RewriteRule 	^password/change/error/*$						password_change.php?ok=1 [L]
RewriteRule 	^password/change/*$								password_change.php [L]


RewriteRule 	^register/facebook/*$							register.php?facebook=1 [L]
RewriteRule 	^register/ok/*$									register.php?ok=1 [L]
RewriteRule 	^register/*$									register.php [L]

RewriteRule 	^login/facebook/*$								login.php?facebook=1 [L]
RewriteRule 	^login/ok/*$									login.php?ok=1 [L]
RewriteRule 	^login/*$										login.php [L]

RewriteRule 	^delete/(\w+)/(\w+)/*$							delete.php?k=$1&d=$2 [L]
RewriteRule 	^delete/group/(\w+)/(\w+)/*$					delete_group.php?g=$1&d=$2 [L]
RewriteRule 	^delete/(\w+)/(\w+)/async/*$					delete.php?k=$1&d=$2&async=1 [L]
RewriteRule 	^delete/group/(\w+)/(\w+)/async/*$				delete_group.php?g=$1&d=$2&async=1 [L]


RewriteRule 	^links/group/(\w+)/(\w+)/([0-9])/*$				links_group.php?g=$1&d=$2&s=$3 [L]
RewriteRule 	^links/group/(\w+)/([0-9])/*$					links_group.php?g=$1&s=$2 [L]

RewriteRule 	^links/(\w+)/(\w+)/([0-9])/*$					links.php?k=$1&d=$2&s=$3 [L]
RewriteRule 	^links/(\w+)/([0-9])/*$							links.php?k=$1&s=$2 [L]

RewriteRule 	^show/slideshow/(\w+)/*$						show_slideshow.php?g=$1 [L]
RewriteRule 	^show/group/(\w+)/(\w+)/del_key/(\w+)/*$		show_group.php?g=$1&k=$2&d=$3 [L]
RewriteRule 	^show/group/(\w+)/(\w+)/*$						show_group.php?g=$1&k=$2 [L]
RewriteRule 	^show/group/(\w+)/*$							show_group.php?g=$1 [L]
RewriteRule 	^show/(\w+)/del_key/(\w+)/*$					show.php?k=$1&d=$2 [L]
RewriteRule 	^show/(\w+)/*$									show.php?k=$1 [L]


RewriteRule 	^about/ext/*$									about_ext.php [L]
RewriteRule 	^about/updates/*$								about_updates.php [L]
RewriteRule 	^about/*$										about.php [L]

RewriteRule 	^logout/*$										logout.php [L]
RewriteRule 	^myfiles/page/(\d)/*$							myfiles.php?p=$1 [L]
RewriteRule 	^myfiles/*$										myfiles.php [L]

RewriteRule 	^profile/facebook/connect/*$					profile_facebook.php?c=1 [L]
RewriteRule 	^profile/facebook/disconnect/*$					profile_facebook.php?d=1 [L]
RewriteRule 	^profile/facebook/*$							profile_facebook.php? [L]
RewriteRule 	^profile/*$										profile.php [L]

RewriteRule 	^settings/*$									settings.php [L]
RewriteRule 	^settings/save/*$								settings.php?save=1 [L]
RewriteRule 	^settings/ok/*$									settings.php?ok=1 [L]

RewriteRule 	^do_async/*$									ajax.php [L]

RewriteRule 	^upload-remote/*$								upload_remote.php [L]


RewriteRule 	^feedback/ok/*$									feedback.php?ok=1 [L]
RewriteRule 	^feedback/*$									feedback.php [L]





